body {
    background-color: #EEE;
    font-family: 'Montserrat', sans-serif;
}

.index-main {
    margin-left: auto;
    margin-right: auto;

}

header,
footer {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 1000px;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto;
    max-width: 75%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;


}

p {
    padding-left: 2em;
    padding-right: 2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


section {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.74);
    margin: 5px;
    background-color: #EEE;
    border: black 1px solid;
    border-radius: 15px;
}

section h3 {
    color: #ffffffad;
    background-color: rgba(92, 92, 92, 0.973);
    padding: 1em;
    margin-top: 0;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}


footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: 0.9em;
}

footer p.highlight {
    color: yellow;
    font-size: 0.8em;
    margin-top: 0;
}
