h1{
    text-align: center;
}
h1,
h2 {
    color: #5d4d96;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 95%;
    margin: 0 auto;

}
img{
    max-width: 90%;
}
body {
    background-color: #EEE;
    font-family: 'Montserrat', sans-serif;
}
section {
    text-align: center;
    background-color: rgba(114, 134, 151, 0.342);
    border: blue solid 2px;
    padding: 10px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: #4d8d96;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em){


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

@media only screen and (min-width: 960px){

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}