body {
    background-color: #EEE;
    font-family: 'Montserrat', sans-serif;
}

.index-main {
    margin: auto;
    max-width:  900px;
}
main {
    max-width: 900px;
    margin: auto;
}


header,
footer {
    background-color: blue;   
    color: white;
    padding: 1.5em;
    margin: auto;
    border-radius: 15px;
    max-width: 900px;
}
.weatherpic{    
    float: left;
    
    
}
.first-pic{
    width: 100%;
    height: auto;
   
}
#top-left {
    position: absolute;
    
    top: 1;
    
    background: rgba(0, 0, 0, 0.322);
    
    color: #f1f1f1;
    
    margin: 25px 25px;
    padding: 20px;
    
    max-width: 100%;
    text-align: left;
}



.box {
text-align: center;
max-width: 900px;
margin: 1em;
background-color: #d3d3d3;
font-style:normal;
border: black solid 0.2px;
}
.box-article img{
    float: right;
}
.box-article{
text-align:left;
max-width: 900px;
margin: 1em;
background-color: #d3d3d3;
font-style:normal;
border: black solid 0.2px;
padding: 10px;

}
.weather-table{        
    border-spacing:25px ;    
    border-collapse: separate;
    margin: auto;
}

th,
td
 {
    padding: 10px;
    border: 1px solid black;
}


.social img {
    height: 36px;
    width: 36px;
}
.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navigation a:hover {
    color: white;
    background-color: black;
}

.responsive li {
    display: block;
}
nav {
    background: #0a16b8;
    padding: 0px;
    margin-top: -1em;
    margin-left: -0.95em;
    margin-right: -0.95em;
    font-size: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    
nav ul li {
    list-style-type: none;
    display: block;
    padding: 15px;
    width: 100%;
}

nav ul li:hover {
    background-color: black;
}
h2{
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    
}
.contact{
    float: right;
}

footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
    color: white;
}

footer a:hover {
    color: #DDD;
}

footer {
    clear: both;
    text-align: center;
}

footer p.legal {
    margin-bottom: 9px;
    font-size: 0.9em;
}

footer p.highlight {
    color: yellow;
    font-size: 0.8em;
    margin-top: 0;
}


/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;       
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
       
}


@media only screen and (min-width: 960px) {
    nav ul {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }
    main{
        max-width: 900px;
        margin: auto;
    }
}
